@import 'header';
@import 'footer';

$red: #fa5c65;

body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    background-color: #ffffff;
}
*{
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: 0 auto;
}
span{
    color: #fa5c65;
}
.presentation{
    background-image: url("../img/portrait-icon.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 80vw;
}
.menu{
    display: flex;
    justify-content: space-between;
}
.menu__freelancer{
    width: 140px;
    height: 74px;
    color: #ffffff;
    font-family: Domine;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding-top: 43px;
    background-color: $red;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}
.menu__main-menu{
    display: flex;
    margin-bottom: 170px;
    text-align: center;
}
.menu__subsection{
    color: #263742;
    font-size: 14px;
    font-weight: 400;
    padding-right: 30px;
    padding-top: 29px;
}
.presentation__about-us{
    width: 510px;
}
.presentation__title{
    color: #314a5b;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 26px;
}
.presentation__subtitle{
    color: #314a5b;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 34px;
}
.presentation__read-more{
    color: #ffffff;
    font-family: "Open Sans";
    text-align: center;
    padding-top: 23px;
    font-size: 15px;
    font-weight: 700;
    width: 171px;
    height: 64px;
    background-color: $red;
    border-radius: 10%;
}
.our-princeples__layout{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.our-principles__explanation {
    width: 28%;
}
.our-principles__title{
    font-size: 26px;
    font-weight: 700;
    color: #465065;
    margin-bottom: 26px;
}
.our-principles__description{
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    color: #9aa0ab;
    margin-bottom: 29px;

}
.more{ 
    display: flex;
}
.more__text{
    color: $red;
    font-size: 14px;
    font-weight: 400;
    padding-right: 5px;
}
.portfolio__layout{
    display: flex;
    padding-top: 70px;
}
.portfolio__imagen{
    margin-right: 60px;
}
.portfolio__title{
    color: #314a5b;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 17px;
}
.portfolio__subtitle{
    color: #314a5b;
    font-family: "Open Sans";
    font-weight: 400;
    margin-bottom: 29px;
    }
.portfolio__description{
    color: #9aa0ab;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 33px;
}
.our-team__title{
    color: #314a5b;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
    padding-top: 40px;
}
.our-team__subtitle{
    color: #9aa0ab;
    font-family: "Open Sans";
    font-weight: 400;
    margin-bottom: 40px;
}
.our-team__people{
    display: flex;
    justify-content: space-between;
    padding-bottom: 90px;
}
.our-team__name{
    color: #314a5b;
    font-size: 22px;
    font-weight: 700;
}
.our-team__job{
    color: #f0454c;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
}
.our-team__hobby{
    color: #9aa0ab;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
}
.our-team__person{
    display: flex;
}
.our-team__person-photo{
    width: 125px;
    padding-right: 20px;
}
.our-team__person-description{
    width: 50%;
}
.footer__total{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #b9c0c6;
 }
.footer__s-networks{
    display: flex;
}
.footer__s-network{
    padding-right: 50px;
}
.footer__designet{
    color: #b9c0c6;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
}
@media (max-width: 1000px) {
    .our-team__person {
        flex-wrap: wrap;
        justify-content: center;
    }
    .our-team__person-description {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 800px) {
    .portfolio__layout{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}
@media (max-width: 650px) {
    .menu__main-menu{
        margin-bottom: 30px;
    }
}