doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        link(rel="stylesheet", href="styles/main.css")
    body
        section.general-layout
            .container

            
        .header RRR
        p Hello 1
        div.layout.layout1#uniqLa kdfnb
        .layout
            span jekn
            ul
                li njfngj
                li lkjnjk
            a.myLink(href="#", target="_blank")
            - for (var x = 0; x<5; x++)
                li Hello 
        mixin item
            .item
                .item-title Title
        +item
        +item
        include footer.pug
        .general-layout
            .general-layout__title 1
            .general-layout__subtitle 2