doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        link(rel="stylesheet", href="styles/main.css")
    body
        section.presentation
            div.container.presentation__container
                .menu
                    .menu__freelancer Freelancer
                    .menu__main-menu
                        .menu__subsection about 
                        .menu__subsection work        
                        .menu__subsection portfolio                                  
                        .menu__subsection contact        
                        .menu__subsection
                            img(src="./img/twit-red-icon.png" alt="")                      
                        .menu__subsection
                            img(src="./img/fb-red-icon.png" alt="")            
                .presentation__about-us
                    .presentation__title intelligence<br>is nothing without<br> ambition<span>.</span>                    
                    .presentation__subtitle We’re small but impressive creative agency.                    
                    .presentation__read-more READ MORE
        section.our-princeples
            div.container.our-princeples__container
                .our-princeples__layout              
                    .our-principles__explanation
                        .our-principles__title Peace<br>of Mind<span>.</span>
                        .our-principles__description You’re safe with us. The privacy and security of your financial information is our top priority.
                        .more
                            .more__text More
                            .more__imagen
                                img(src="./img/arrow-icon.png" alt="")
                    .our-principles__explanation
                        .our-principles__title Free<span>.</span><br>Actually free
                        .our-principles__description No more pricing grids. No more fine print. Sending and receiving cash is free without gimmicks.
                        .more
                            .more__text More
                            .more__imagen
                                img(src="./img/arrow-icon.png" alt="")
                    .our-principles__explanation
                        .our-principles__title Simple<br>payments<span>.</span>
                        .our-principles__description The same debit card you use to buy coffee lets deposit money straight to your bank account.
                        .more
                            .more__text More
                            .more__imagen
                                img(src="./img/arrow-icon.png" alt="")
        section.portfolio
            div.container.portfolio__container
                .portfolio__layout
                    .portfolio__imagen
                        img(src="./img/macbook-icon.png" alt="")
                    .portfolio__text
                        .portfolio__title portfolio<span>.</span>                                                  
                        .portfolio__subtitle We are small, but strong team                        
                        .portfolio__description No more pricing grids. No more fine print. Sending and receiving cash is free without gimmicks.<br><br>The same debit card you use to buy coffee lets deposit money straight to your bank account.                  
                        .more
                            .more__text More                           
                            .more__imagen
                                img(src="./img/arrow-icon.png" alt="")
        section.our-team
            div.container.our-team__container
                .our-team__title our team<span>.</span>
                .our-team__subtitle They are big but still friendly.
                .our-team__people
                    .our-team__person
                        .our-team__person-photo
                            img(src="./img/joey-icon.png" alt="")                        
                        .our-team__person-description
                            .our-team__name Joey   
                            .our-team__job Web developer            
                            .our-team__hobby Coffee lover.  Always on bike. iPhone fan.    
                    .our-team__person
                        .our-team__person-photo
                            img(src="./img/matt-icon.png" alt="")                        
                        .our-team__person-description
                            .our-team__name Matt  
                            .our-team__job Web designer          
                            .our-team__hobby MTB Biker. Photoshop Master. Loving Father.  
                    .our-team__person
                        .our-team__person-photo
                            img(src="./img/mike-icon.png" alt="")                        
                        .our-team__person-description
                            .our-team__name Mike  
                            .our-team__job Copywriter           
                            .our-team__hobby Drummer. Soup lover. Beer Drinker. Cyclist.    
        section.footer
            div.container.footer__container.footer__total      
                .footer__s-networks
                    .footer__s-network
                        img(src="./img/twit-icon.png" alt="")                       
                    .footer__s-network
                        img(src="./img/inst-icon.png" alt="")                    
                    .footer__s-network
                        img(src="./img/fb-icon.png" alt="")                    
                    .footer__s-network
                        img(src="./img/google-icon.png" alt="")                       
                .footer__designet © Freelancer - Designed by Wojtek Kwiatkowski
                                              






    //-section.general-layout
            .container

            
        .header RRR
        p Hello 1
        div.layout.layout1#uniqLa kdfnb
        .layout
            span jekn
            ul
                li njfngj
                li lkjnjk
            a.myLink(href="#", target="_blank")
            - for (var x = 0; x<5; x++)
                li Hello 
        mixin item
            .item
                .item-title Title
        +item
        +item
        include footer.pug
        .general-layout
            .general-layout__title 1
            .general-layout__subtitle 2-->